
*{padding: 0; margin: 0;}

body{
	margin: 0 auto;
	
	line-height: 24px;
	vertical-align: middle;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 25px;
}

a{
	text-decoration: none;
	color: #333;
}

p{}

ul{}
ul li{}

ol{}
ol li{}


header{
	border-bottom: 2px solid #333;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.content{}

footer{
	border-top: 2px solid #333;
	margin-top: 25px;
	padding-top: 25px;
}